<div class="w3_login">
  <h3><%= t ".sign_up"%></h3>
  <div class="w3_login_module">
    <div class="module form-module">
      <div class="toggle"><i class="fa fa-times fa-pencil"></i></div>
      <div class="form">
        <h2><%= t ".create_account"%></h2>
        <%= form_for @user do |f| %>
          <%= f.label t ".name" %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label t ".email" %>
          <%= f.email_field :email, class: "form-control" %>
          <%= f.label t ".password" %>
          <%= f.password_field :password, class: "form-control" %>
          <%= f.label t ".confirm_password" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
          <%= f.submit yield(:button_text), class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
